  <div id="message" class="subframe">
		<div class="left">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="center">
			<div class="top"></div>
			<div class="middle" id="message_zone">

        <h2>[[= model.translate.page_lost_ids_ok_title ]]</h2>

        <br />

        <p class="hparagraph">[[= model.translate.page_lost_ids_ok_message ]]</p>

        <span class="action">
          <input type="button" class="rsubmit" value="Close" onclick="return page.hide_box(); return false;">
        </span>

			</div>
			<div class="bottom"></div>
		</div>
		<div class="right">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>
