	<div id="login" class="subframe">
		<div class="left">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="center">
			<div class="top"></div>
			<div class="middle" id="login_zone">
		
				<div class="title">
					<span class="main"><h2>[[= model.translate.page_sign_in_title ]]</h2></span>
					<span class="fb_connect_span"><a href="/#[[= model.translate.menu_fb_use_account_anchor ]]" onclick="return user.fb_login();return false;" class="fb_connect_btn" title="[[= model.translate.menu_fb_use_account_title ]]"></a></span>
				</div>			
				
				<form id="sign_in_form" class="rform" onsubmit="return false;">
					
					<input type="hidden" name="token" id="token" value="[[= model.token ]]" />
					
					<p class="hparagraph">[[= model.translate.page_sign_in_intro ]] :</p>
					
					<div class="dinput">
						<span class="input_usr">
							<label for="username" class="rlabel">[[= model.translate.page_sign_in_username ]] :</label>
							<input type="text" id="username" name="username" size="10" maxlength="12" class="rinput" value="[[? model.session.user_info ]][[= model.session.user_info.user_login ]][[?]]" />
						</span>
						<span class="input_err" id="username_error">
							<span class="icon"></span>
							<span class="text"></span>
						</span>
					</div>

					<div class="dinput" style="position: relative;">
						<span class="input_usr">
							<label for="password" class="rlabel">[[= model.translate.page_sign_in_password ]] :</label>
							<input type="password" id="password" name="password" size="10" maxlength="24" class="rinput" value="" />
						</span>
						<span class="input_err" id="password_error">
							<span class="icon"></span>
							<span class="text"></span>
						</span>
					</div>

					<div class="dinput">
						<span class="input_usr">
							<input type="checkbox" id="remember_me" name="remember_me" class="rcheckbox" checked="checked" />
							<label for="optin" class="rchklbl">[[= model.translate.page_sign_in_remember_me ]]</label>
						</span>
					</div>
					
					<span class="spacer"></span>
					
					<div class="dinput">
						<span class="input_usr">
							<input type="submit" id="validate" class="rsubmit" value="[[= model.translate.page_sign_in_validate ]]" />
						</span>
						<span class="input_err" id="validate_error">
							<span class="icon"></span>
							<span class="text"></span>
						</span>
					</div>
					
					<p class="hparagraph">
						<br />
						<a href="javascript: void(0)" onclick="return user.lost_ids();return false;">[[= model.translate.page_lost_ids_title ]]</a> &nbsp;-&nbsp;
						[[= model.translate.page_sign_in_register_notice ]] <a href="#[[= model.translate.menu_register_anchor ]]" onclick="page.hide_box()">[[= model.translate.menu_register_title ]]</a>
					</p>
					
				</form>

			</div>
			<div class="bottom"></div>
		</div>
		<div class="right">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>
