<h1>Create a news item</h1>

<form action="/admin/news/validate" method="post">
  
  <label for="news_title_en">Title [EN]</label>
  <input type="text" name="news_title_en" id="news_title_en" />
  <br />
  
  <label for="news_text_en">Text [EN]</label>
  <textarea name="news_text_en" id="news_text_en"></textarea>
  <br />
  
  <label for="news_active_en">Active [EN]</label>
  <input type="checkbox" name="news_active_en" id="news_active_en" />
  <br />
  
  <input type="submit" value="Validate" />
  
</form>