<h1>View a news item</h1>

<form action="/admin/news" method="get">
  
  <label for="news_title_en">Title [EN]</label>
  <input type="text" name="news_title_en" disabled value="[[= model.newsItem.news_title_en ]]" id="news_title_en" />
  <br />
  
  <label for="news_text_en">Text [EN]</label>
  <textarea name="news_text_en" disabled id="news_text_en">[[= model.newsItem.news_text_en ]]</textarea>
  <br />
  
  <label for="news_active_en">Active [EN]</label>
  <input type="checkbox" name="news_active_en" disabled[[? model.newsItem.news_active_en ]] checked="checked"[[?]] id="news_active_en" />
  <br />
  
  <input type="submit" value="Close" />
  
</form>